apiVersion: v1
kind: ServiceAccount
metadata:
  name: argo-workflows-runner-leonomano-doks
  namespace: argo

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  annotations:
    workflows.argoproj.io/description: |
      Role to allow Argo Workflows executor to create and patch WorkflowTaskResults
  name: argo-workflows-executor
  namespace: argo
rules:
  - apiGroups:
      - argoproj.io
    resources:
      - workflowtaskresults
    verbs:
      - create
      - patch

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: argo-workflows-executor-binding
  namespace: argo
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: argo-workflows-executor
subjects:
  - kind: ServiceAccount
    name: argo-workflows-runner-leonomano-doks
    namespace: argo
