apiVersion: v1
kind: ConfigMap
metadata:
  name: workflow-controller-configmap
  namespace: argo
data:
  workflowDefaults: |
    spec:
      serviceAccountName: argo-workflows-runner-leonomano-doks
      ttlStrategy:
        secondsAfterCompletion: 300
